.zoomImage {
    transition: transform 0.5s ease-in-out;
  }
  
  .zoomImage:hover {
    transform: scale(1.1);
  }

  .subTitle{
    font-family: cursive;
    text-align : center;
    padding: 10px;
    font-size : 40px;
    font-weight: bold;

  }
  